.mt-180{
  margin-top: 180px;
}
.mt-160{
  margin-top: 160px;
}
.mb-110{
  margin-bottom: 110px;
}
.mr-20{
  margin-right:80px !important ;
}
@media only screen and (min-width:960px){
  .mb-md-180{
    margin-bottom: 180px;
  }
}

@for $i from 17 to 25 {
  .mt-#{$i}{
    margin-top: $i*4+px;
  }
}