@import '_color.scss';
@import '_margin.scss';
@import '_typography.scss';
// width
@for $i from 1 to 11 {
  .w-#{$i*10}{
    width: percentage($i/10);
  }
}
.test{
  width: percentage(2);
}
.custom-color-icon{
  color: #d0dbe5 !important;   
}
.custom-color-icon:hover{
  color: #52575d !important;
}

// add border buttom to avatar panel
.custom-line-avatar-panel{
  background-color: #ebf2f7;
  border:#ebf2f7  1px solid;
  margin-left: 20px;
  margin-right: 20px;
}
// custom navigation for dashboard
@media only screen and (max-width:960px) {
  .border-sm-none{
    border-radius: none !important;

  }
}
@media only screen and (min-width:960px) {
  .border-radius-20{
    border-radius: 20px !important;
  }
}

// start custom checkbox
.custom-checkbox{
  appearance: unset;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  background: #fff;
  border: 2px solid #e3e9ef;
  position: relative;
}
.custom-checkbox{
  cursor: pointer;
}
.custom-checkbox:checked::after{
  content: " ";
  background-color: #fff;
  position: absolute;
  width: 24px;
  border-radius: 8px;
  border: 8px solid #508ff4;
  top: -1px;
  right: -1px;
  height: 24px;
}

// start style to alert 
.custom-icon-color-alert .v-icon{
  color: white !important;
}
.custom-icon-color-alert .v-btn{
  position: absolute !important;
  right: 0;
}